# Coursework

# Question #1

In [1]:
from adult import *

In [2]:
df = read_csv_1("adult.csv")

## 1.

## a)

In [3]:
num_rows(df)

48842

## b)

In [4]:
column_names(df)

['age',
 'workclass',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'native-country',
 'class']

## c)

In [5]:
missing_values(df)

6465

## d)

In [6]:
columns_with_missing_values(df)

['workclass', 'occupation', 'native-country']

## e)

In [7]:
bachelors_masters_percentage(df)

21.9

## 2.

In [8]:
df = data_frame_without_missing_values(df)
df

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,1,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,2,United-States,<=50K
48837,2,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,2,United-States,<=50K
48839,2,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,3,United-States,<=50K
48840,2,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,2,0,2,United-States,<=50K
48841,1,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,United-States,>50K

In [9]:
encoded_df = one_hot_encoding(df)

In [10]:
encoded_df

,age,education-num,capitalgain,capitalloss,hoursperweek,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,2,13,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,13,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,2,9,0,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,7,0,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,13,0,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,1,13,0,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48837,2,13,0,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48839,2,13,0,0,3,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48840,2,13,2,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48841,1,13,0,0,3,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
encoded_data = label_encoding(df)
encoded_data

0        0
1        0
2        0
3        0
4        0
        ..
45217    0
45218    0
45219    0
45220    0
45221    1
Name: class, Length: 45222, dtype: int64

## 3.

In [12]:
y_pred = dt_predict(encoded_df, encoded_data)
y_pred

0        0
1        0
2        0
3        0
4        0
        ..
45217    0
45218    0
45219    1
45220    0
45221    1
Name: class, Length: 45222, dtype: int64

In [13]:
dt_error_rate(y_pred, encoded_data)

8.279156162929548