# Coursework

# Question #1

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [8]:
from adult import *
test_df = read_csv_1("adult.csv")

In [5]:
read_csv_1("data 4/adult.csv")

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,2,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,2,United-States,<=50K
48838,4,NaN,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,2,United-States,<=50K
48839,2,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,3,United-States,<=50K
48840,2,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,2,0,2,United-States,<=50K
48841,1,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,United-States,>50K

## 1.
[10 points]
Load the data set and compute (a) the number of instances, (b) a list with the attribute names, (c) the number of missing attribute values, (d) a list of the attribute names with at least one missing value, and (e) the percentage of instances corresponding to individuals whose education level is Bachelors or Masters.

## a)

In [6]:
def num_rows(df):
	return df.shape[0]

In [7]:
num_rows(df)

48842

## b)

In [9]:
def column_names(df):
	return list(attribute for attribute in df.columns)

In [10]:
column_names(df)

['age',
 'workclass',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'native-country',
 'class']

## c)

In [11]:
df.describe()

                age  education-num   capitalgain   capitalloss  hoursperweek
count  48842.000000   48842.000000  48842.000000  48842.000000  48842.000000
mean       1.771078      10.078089      0.200319      0.114942      1.950698
std        1.295378       2.570973      0.746182      0.556924      0.897038
min        0.000000       1.000000      0.000000      0.000000      0.000000
25%        1.000000       9.000000      0.000000      0.000000      2.000000
50%        2.000000      10.000000      0.000000      0.000000      2.000000
75%        3.000000      12.000000      0.000000      0.000000      2.000000
max        4.000000      16.000000      4.000000      4.000000      4.000000

In [16]:
def missing_values(df):
    return df.isnull().sum().sum()

In [17]:
missing_values(df)

6465

In [20]:
df.isnull().sum()

age                  0
workclass         2799
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capitalgain          0
capitalloss          0
hoursperweek         0
native-country     857
class                0
dtype: int64

In [50]:
# The number of missing attribute values
num_missing_attribute_values = missing_values.sum()
print(f'There are {num_missing_attribute_values} missing values in total.')

There are 6465 missing values in total.

## d)

In [21]:
def columns_with_missing_values(df):
	return list(attribute for attribute in df.columns if df[attribute].isnull().sum() > 0)

In [22]:
columns_with_missing_values(df)

['workclass', 'occupation', 'native-country']

In [51]:
# The list of attributes with missing values
attributes_with_missing_values = list(missing_values[missing_values > 0].index)
print(f'The attributes with missing values are: {attributes_with_missing_values}')

The attributes with missing values are: ['workclass', 'occupation', 'native-country']

## e)

In [28]:
df.education.value_counts()

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

In [27]:
df.education.value_counts().sum()

48842

In [25]:
df.shape[1]

14

In [45]:
df[df['education'].isin(["Bachelors", "Masters"])].shape[0]

10682

In [51]:
round((df[df['education'].isin(["Bachelors", "Masters"])].shape[0] / df.shape[0] * 100) , 1)

21.9

In [52]:
Bach_percentage = (df['education'] == 'Bachelors').sum() / df.shape[0]
Mast_percentage = (df['education'] == 'Masters').sum() / df.shape[0]
print(f'The percentage of people with a Bachelors degree is {Bach_percentage:.2%} and the percentage of people with a Masters degree is {Mast_percentage:.2%}.')

The percentage of people with a Bachelors degree is 16.43% and the percentage of people with a Masters degree is 5.44%.

## 2.
[10 points] Drop all instances with missing values. Convert all input attributes to numeric using one-hot encoding. Name the new columns using attribute values from the original data set. Next, convert the class values to numeric with label encoding.

In [58]:
df.dropna(inplace = True)

In [61]:
df.shape[0]

45222

In [78]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [81]:
def one_hot_encoding(df):
	encoder = OneHotEncoder(sparse_output = False)
	encoded_data = encoder.fit_transform(df.iloc[:, :-1])
	encoded_df = pd.DataFrame(encoded_data, columns = encoder.get_feature_names_out(df.columns[:-1]))
	return encoded_df

In [93]:
encoded_df = one_hot_encoding(df)

In [96]:
encoded_df.head()

,age_0,age_1,age_2,age_3,age_4,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
encoded_df.shape[1]

134

In [77]:
df['class']

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
48836    <=50K
48837    <=50K
48839    <=50K
48840    <=50K
48841     >50K
Name: class, Length: 45222, dtype: object

In [88]:
def label_encoding(df):
	encoder = LabelEncoder()
	encoded_data = encoder.fit_transform(df['class'])
	return pd.Series(encoded_data, name = 'class')

In [97]:
encoded_data = label_encoding(df)

In [98]:
encoded_data

0        0
1        0
2        0
3        0
4        0
        ..
45217    0
45218    0
45219    0
45220    0
45221    1
Name: class, Length: 45222, dtype: int64

## 3.

In [99]:
X_train, X_test, y_train, y_test = train_test_split(encoded_df, encoded_data, test_size = 0.2, random_state = 0)

In [113]:
def dt_predict(X_train,y_train):
	classifier = DecisionTreeClassifier()
	classifier.fit(X_train, y_train)
	y_pred = classifier.predict(X_train)
	return pd.Series(y_pred, name = 'class')

In [119]:
y_pred = dt_predict(X_train, y_train)

In [116]:
y_train

13181    0
10342    0
20881    0
24972    1
43867    0
        ..
30403    0
21243    1
42613    1
43567    0
2732     0
Name: class, Length: 36177, dtype: int64

In [132]:
def dt_error_rate(y_pred, y_true):
	return (y_pred.values != y_true.values).sum() / y_true.shape[0] * 100

In [134]:
y_pred

0        0
1        0
2        0
3        1
4        0
        ..
36172    0
36173    1
36174    0
36175    1
36176    0
Name: class, Length: 36177, dtype: int64

In [128]:
y_train

13181    0
10342    0
20881    0
24972    1
43867    0
        ..
30403    0
21243    1
42613    1
43567    0
2732     0
Name: class, Length: 36177, dtype: int64

In [135]:
dt_error_rate(y_pred, y_train)

8.007850291621748